Data/Raw/BPS_WT_Foster_et_al_2015.csv
Data/Raw/BPS_WT_Wei_et_al_2022.csv
Data/Raw/Long_et_al_2016.csv
Data/Raw/Sane_et_al_2018.csv
Data/Raw/Tincher_et_al_2017.csv
Data/Intermediate/long_dat.csv
Data/Intermediate/long_dat.csv
Data/Intermediate/m.basic.Rdata
Data/Intermediate/m.basic2.Rdata
Data/Intermediate/m1.Rdata
Data/Intermediate/m2.Rdata
Data/Intermediate/m3.Rdata
Data/Intermediate/m4.Rdata